
#welcome-sign {
    text-align: left;
}

h3 {
    text-align: center;
}

.mob-section {
    border: black 5px;
    
}

#muster-section {
    margin: 0 auto;
    
}

div.modal-content {
    justify-content: center;
}